

/*ヘッダー*/
header {
    width: 1280px;
    height: 80px;
    display: flex;
}

.logo {
    height: 65px;
    margin-left: 100px;
}

.header-right-p {
    border: 1px solid yellow;
    border-radius: 20px;
    background-color: yellow;
    width: 100px;
    padding-left: px;
    padding: 5px 15px;
    position: relative;
    left: 650px;
    bottom: 20px;
}

/*メイン*/
main {
    width:1280px;
    height:657px;
    background-color:blue;
}
/*ーーーーーーーーーーーーーーーーーーーーコンテンツ01ーーーーーーーーーーーーーーーーー*/
.contents-01 {
    margin-left:100px;
    padding-top: 150px;
}
.main-h1-01 {
    color:white;
    margin-left: 10px;
}
.main-p-01 {
    color:white;
}
.btn {
    display: flex;
}
.btn-01,.btn-02 {
    border: 1px solid black;
    background-color: yellow;
    width: 170px;
    border-radius: 15px;
    padding: 2px 15px;
}
.btn-01 {
    margin-left: 100px;
}
.btn-02 {
    margin-left: 10px;
}

.img-mv {
    position: relative;
    bottom: 235px;
    left: 497px;
    height: 300px;
}
/*ーーーーーーーーーーーーーーコンテンツ02ーーーーーーーーーーーーーーーーーー*/

.contents-02 {
    width: 979px;
    height:422px;
    
}
.h1-02 {
    margin-left: 540px;
}
/*アイコン横ならびーーーーーーーー１〜３ーーーーー*/
.icon {
    display: flex;
}
.icon-01 {
    margin-left: 222px;
    margin-top: 100px;
}
.icon-02 {
    margin-top: 100px;
    margin-left: 210px;
}
.icon-03 {
    margin-top: 90px;
    margin-left: 248px;
}

/*icon-h2*/
.icon-h2 {
    display: flex;
    margin-left: 125px;
    width: 1200px;
}
.icon-01-h2 {
    margin-left: 86px;
    color: blue;
}
.icon-02-h2 {
    margin-left: 200px;
    color: blue;
}
.icon-03-h2 {
    margin-left: 290px;
    color: blue;
}

/*icon-p*/
.icon-p  {
    width: 1200px;
    display: flex;
    margin-left: 140px;
}
.icon-01-p {
    margin-left: px;
}

.icon-02-p {
    margin-left: 50px;
}

.icon-03-p {
    margin-left: 80px;
}

/*ーーーーーーーーーーーーーーーーーーーコンテンツ０３*ーーーーーーーーーーーーーーーーー*/
.contents-03 {
    width: 1280px;
    height: 1545px;
    background-color: #d2f9ff;
    margin-top: 150px;
}
.h2-01 {
    text-align: center;
    padding-top: 70px;
} 
/*マ宿　（ましゅく）って？*/
.about-01 {

}
.img-01 {
   
    position: relative;
    
    z-index: 10;
   top: 38px;
    left: 85px;
   
}
.section-01 {
    background-color: white;
    width: 500px;
    position: relative;
    bottom: 158px;
    left: 129px;
    width: 573px;
    padding-left: 478px;
    padding-top: 10px;
    padding-bottom: 40px;
}
.about-h3-01 {

}
.about-p-01 {

}



/*どんなことを学ぶの？*/
.about-02 {

}
.img-02 {
    position: relative;
    bottom: 60px;
    z-index: 10;
    left: 766px;
}
.section-02 {
    width: 700px;
    background-color: white;
    padding: 20px;
    position: relative;
    bottom: 243px;
    margin-left: 93px;
    padding-left: 81px;
}
.about-h3-02 {

}
.about-p-02 {

}

/*こんな人にオススメ*/
.about-03 {

}
.img-03 {
    position: relative;
    bottom: 126px;
    z-index: 10;
    margin-left: 100px;
}
.section-03 {
    padding: 20px;
    background-color: white;
    padding-left: 532px;
    position: relative;
    bottom: 290px;
    left: 168px;
    width: 472px;
}
.about-h3-03 {

}
.about-p-03 {

}
/*-------------------------コンテンツ04------------------------------*/
.contents-04 {
    margin-top: 105px;
    background-color: gainsboro;
    width: 1280px;
    height: 553px;
    padding-left: 10px;
}
.news-h2 {
    text-align: center;
    padding-top: 50px;
}
.contents-item {
    display: flex;
    margin-top: 100px;
}

.news-item-01 {
    background-color: white;
    width: 320px;
    margin-left: 80px;
    padding-top: 10px;
    height: 290px;
}
.news-01 {     /*-----------画像1-----------*/
    background-color: white;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
}
.news-title01 /*----マ宿----*/{
    background-color: blue;
    color: white;
    width: 60px;
    padding-left: 20px;
    position: relative;
    bottom: 190px;
    left: 230px;
}
.news-days01 /*----日付----*/{
    opacity: 0.6;
    position: relative;
    bottom: 47px;
    left: 13px;
}
.news-p01 {
    position: relative;
    bottom: 55px;
    padding: 0 0px;
}

.news-item-02 {
    background-color: white;
    margin-left: 70px;
    width: 320px;
    padding-top: 10px;
    height: 290px;
}
.news-02 {      /*-----------画像2-----------*/
    background-color: white;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;

}
.news-title02 /*----マ宿----*/{
    background-color: blue;
    color: white;
    width: 60px;
    padding-left: 20px;
    position: relative;
    bottom: 190px;
    left: 230px;
}
.news-days02 /*----日付----*/{
    opacity: 0.6;
    position: relative;
    bottom: 47px;
    left: 13px;
}
.news-p02 {
    position: relative;
    bottom: 55px;
    padding-left: 10px;
}



.news-03 {       /*-----------画像3-----------*/
    background-color: white;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
}
.news-title03 /*---マ宿----*/{
    background-color: blue;
    color: white;
    width: 60px;
    padding-left: 20px;
    position: relative;
    bottom: 190px;
    left: 230px;
}
.news-days03 /*---日付---*/{
    opacity: 0.6;
    position: relative;
    bottom: 47px;
    left: 13px;
}
.news-p03 {
    position: relative;
    bottom: 55px;
    padding: 0 0px;
    padding-left: 10px;
}

.news-item-03 {
    background-color: white;
    margin-left: 70px;
    width: 320px;
    padding-top: 10px;
    height: 290px;
}
.bottom-p {
    color: white;
    border-radius: 20px;
    border: 1px solid blue;
    background-color: blue;
    position: relative;
    top: 370px;
    right: 600px;
    width: 300px;
    height: 30px;
    padding: 0 8px;
}

/*-------------------------nav--------------------*/
.contents05{
    height: 600px;
    width:1280px;
   
}
.nav-h2 {
    text-align: center;
    margin-top: 150px;
}

span {
    color: white;
    background-color: blue;
    margin-left: 5px;
    padding: 0 5px;
}

.input-p-01, .input-p-02, .input-p-03 {
    margin-left: 400px;
}
.input-p-01 {
    margin-left: 400px;
    height: 35px;
}
.input-p-02 {
   
    height: 35px;
}
.input-p-03 {
   
    height: 35px;
}
input {
    position: relative;
    left: 200px;
    bottom: 42px;
    padding: 5px 50px;
    opacity: 0.5;
}

.textarea-p {
    margin-left: 400px;
}
textarea {
    position: relative;
    bottom: 41px;
    left: 200px;
    opacity: 0.4;
    padding: 20px 45px;
}
.btn-03 {
    background-color: blue;
    color: white;
    opacity: 1;
    margin-left: 390px;
    margin-top: 87px;
    width: 28px;
    border-radius: 22px;

}

/**/
footer {
    width: 1280px;
    height: 209px;
    /*なんで？ポジションどこかで解除してないから！？*/
    position: relative;
    top: 3700px;
    background-color: gainsboro;
}
.footer-logo {
    width: 300px;
    text-align: center;
    margin-left: 500px;
}
.footer-p {
    display: flex;
    margin-left: 320px;
    opacity: 0.5;
    margin-top: 20px;
}
.footer-p01, .footer-p02, .footer-p03 {
    margin-right:50px;
}


.copy {
    text-align: center;
    opacity: 0.5;
}

/*ーーーーーーーーーーーーーーーーースマホ用ーーーーーーーーーーーーーーーー*/
@media (max-width:670px) {
.header {
    width: 370px;
    height:70px;
}

.logo {
    margin-left: 10px;
    height: 30px;
    margin-top: 20px;
}

.header-right-p {
    position: relative;
    left: 55px;

}
main {
    width: 375px;
    height: 636px;
}
.img-mv {
    position: relative;
    bottom: 433px;
    height: 200px;
    left: 16px;
}
.main-h1-01 {
    color: white;
    position: relative;
    top: 69px;
    right: 57px;
    width: 300px;
    height: 50px;
}
.main-p-01 {
    position: relative;
    top: 60px;
    right: 90px;
    width: 338px;
}
.btn {
    display: flex;
    width: 500px;
}
.btn-01 {
  
    margin-left: 80px;
    position: relative;
    top: 60px;
    padding: 7px 15px;
    border-radius: 28px;
}
.btn-02 {
    position: relative;
    top: 153px;
    right: 202px;
    border-radius: 28px;
    padding: 7px 15px;
    margin-left: 0;
}

/*コンテンツーーーーーー02ーーーーーー*/
.contents-02 {
    width: 292px;
    height: 961px;
}
.h1-02 {
    margin-left: 100px;
    margin-top: 100px;
}
.icon-01 {
     margin-left: 122px;
    margin-top: 100px;
    position: relative;
    bottom: 86px;
}
 .icon-01-h2 {
        margin-left: 0px;
        position: relative;
        right: 4px;
        bottom: 71px;
        font-size: 20px;
    }
    .icon-01-p {
        position: relative;
        bottom: 180px;
        right: 80px;
        font-size: 15px;
    }
    .icon-02 {
        margin-top: 100px;
        position: relative;
        top: 230px;
        right: 125px;
        margin-left: 0;
    }
    .icon-h2 {
        /* display: flex; */
        margin-left: 125px;
        width: 1200px;
        display: block;
    }
    .icon-02-h2 {
        margin-left: 0px;
        color: blue;
        font-size: 20px;
        position: relative;
        top: 200px;
        left: 13px;
    }
    .icon-02-p {
        margin-left: 0px;
        position: relative;
        right: 358px;
        top: 146px;
        font-size: 15px;
    }
    .icon-03 {
        margin-top: 90px;
        margin-left: 0px;
        position: relative;
        right: 242px;
        top: 562px;
    }
    .icon-03-h2 {
        margin-left: 10px;
        color: blue;
        position: relative;
        top: 488px;
        font-size: 20px;
    }
    .icon-03-p {
        margin-left: 0px;
        position: lerative;
        position: relative;
        top: 500px;
        right: 655px;
    }

/*コンテンツーーーーーーーー03ーーーーーーーーーーーーーーーーー*/
.contents-03 {
    width: 375px;
    height: 1985px;
    background-color: #d2f9ff;
    margin-top: 150px;
}
.img-01 {
    position: relative;
    z-index: 10;
    top: 38px;
    left: 9px;
    width: 360px;
}
.section-01 {
    background-color: white;
    width: 500px;
    position: relative;
    left: 10px;
    top: 1¥0px;
    width: 348px;
    padding-top: 10px;
    padding-bottom: 40px;
    top: 30px;
    padding-left: 8px;
}
.img-02 {
    position: relative;
    bottom: 0px;
    z-index: 10;
    left: 8px;
    width: 360px;
    top: 80px;
}
.section-02 {
    width: 319px;
    background-color: white;
    padding: 20px;
    position: relative;
    margin-left: 11px;
    top: 60px;
}
.img-03 {
    position: relative;
    z-index: 10;
    margin-left: 10px;
    width: 360px;
    top: 106px;
}
.section-03 {
    padding: 20px;
    background-color: white;
    position: relative;
    left: 11px;
    width: 318px;
    top: 86px;
}

/*コンテンツーーーーーーーーー04ーーーーーーーーーー*/
.contents-04 {
    margin-top: 58px;
    background-color: gainsboro;
    width: 375px;
    height: 1373px;
    padding-left: 10px;
}

.news-item-01 {
    background-color: white;
    padding-top: 10px;
    display: block;
    position: relative;
    bottom: 40px;
    left: 15px;
    margin-left: 0px;
    height: 300px;
}
.news-item-02 {
    background-color: white;
    width: 351px;
    padding-top: 10px;
    height: 290px;
    position: relative;
    right: 305px;
    top: 330px;
    margin-left: 0px;
}
.news-item-03 {
    background-color: white;
    width: 351px;
    padding-top: 10px;
    height: 290px;
    position: relative;
    top: 692px;
    right: 626px;
    margin-left: 0px;
}

    .news-03 {
        background-color: white;
        width: 303px;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
    }
    .bottom-p {
        position: relative;
        top: 1036px;
        right: 900px;
        height: 130px;
        padding: 0px 8px;

    }
/*コンテンツーーーーーーーーー05ーーーーーーーーーーーーー*/
.contents05 {
    height: 927px;
    width: 375px;
}
.nav-h2 {
    text-align: center;
    margin-top: 100px;
}
.input-p-01 {
    height: 35px;
    width: 100px;
    position: relative;
    right: 400px;
    top: 60px;
}

input {
    position: relative;
    left: 6px;
    bottom: 0px;
    padding: 10px 100px;
    opacity: 0.5;
}
.input-p-02 {
    height: 35px;
    width: 217px;
    margin-left: 0px;
    position: relative;
    top: 110px;
}
.input-p-03 {
    height: 35px;
    width: 115px;
    margin-left: 0px;
    position: relative;
    top: 169px;
}
.textarea-p {
    margin-left: 0px;
    position: relative;
    top: 300px;
}
.contact{
    position: relative;
    bottom: 67px;   
}

textarea {
    position: relative;
    bottom: 58px;
    left: 6px;
    opacity: 0.4;
    padding: 20px 100px;
}
.btn-03 {
    background-color: blue;
    color: white;
    opacity: 1;
    margin-left: 50px;
    margin-top: 287px;
    width: 28px;
    border-radius: 22px;
}

footer {
    width: 375px;
    height: 265px;
    position: relative;
    top: 5500px;
    background-color: gainsboro;
}
.footer-logo {
    width: 180px;
    text-align: center;
    margin-left: 83px;
    margin-top: 50px;
}
.footer-p {
    display: block;
    margin-left: 61px;
    width: 300px;
    text-align: center;
    font-size: 13px;
    opacity: 1;
}
.footer-p04 {
    margin-right: 60px;
}

.copy {
    text-align: center;
    width: 375px;
    margin-top: 30px;
    font-size: 12px;
}
.copy {
    text-align: center;
    width: 375px;
    margin-top: 0px;
    font-size: 12px;
    opacity: 1;
}








}
